@page "/bracelets"
@inject IBraceletService client
@inject IMessagingService _MessagingService
@inject NavigationManager NavigationManager



@if (bracelets == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
    <div>
        <label> Bracelet Name:
            <input @bind="BraceletName" />
        <button @onclick="Add">
            Add
        </button>
        </label>

    </div>
    <h2>All bracelets</h2>
    <ul class="bracelets">
        @foreach (var bracelet in bracelets)
        {
            <li @onclick="@(() =>OnSelect(bracelet))">
                <span class="badge">@bracelet.Id</span>@bracelet.Name
            </li>
            
        }
    </ul>
}

<BraceletDetail SelectedBracelet="@selectedBracelet"></BraceletDetail>


@code {
    Bracelet selectedBracelet;
    private Bracelet[] bracelets;
    private string BraceletName = "";

    protected override async Task OnInitializedAsync()
    {
        bracelets = await client.GetBracelets();
    }

    private async Task OnSelect(Bracelet bracelet)
    {
        selectedBracelet = bracelet;
        await _MessagingService.Add($"Bracelet selected {bracelet.Name}");
        NavigationManager.NavigateTo("/bracelets/" + bracelet.Name);
    }
    private async Task Add()
    {
        bracelets = await client.Add(BraceletName);
    }

    private async Task Delete(Bracelet bracelet)
    {

        bracelets = await client.Delete(bracelet);
    }
}
<style>
    .bracelets{
        margin:0 0 2em 0;
        list-style-type: none;
        padding: 0;
        width: 15em;

    }
    .bracelets li{
        cursor: pointer;
        position:relative;
        left: 0;
        background-color: #EEE;
        margin: 5em;
        padding: .3em 0;
        height: 1.6em;
        border-radius: 4px;
    }
    .bracelets li:hover{
        color: #607D88;
        background-color: NDDD;
        left: .1em;
    }
    .bracelets li.selected{
        background-color: #CFD8DC;
        color: white;
    }
    .bracelets li.selected:hover{
        background-color: NBBD8DC;
        color: white;
    }
    .bracelets .badge{
        display:inline-block;
        font-size: small;
        color:white;
        padding: 0.8em 0.7em 0 0.7em;
        background-color: #405061;
        line-height: 1em;
        position: relative;
        left: -1px;
        top: -4px;
        height:1.8em;
        margin-right: .8em;
        border-radius: 4px 0 0 4px;
    }
</style>