@page "/"
@using KIRMAJewelry.Components

<div>
<Dashboard></Dashboard>
</div>


<div class="BraceletsContainer">   
     <Bracelets></Bracelets>
</div>
<div class="NecklacesContainer">   
     <Necklaces></Necklaces>
</div>

<style>
    .BraceletsContainer{
        margin:auto;
        width: 50%;
        margin-right: 383px;
    }

    .content{
        margin:auto;
        width: 50%;
        margin-top: -1228px;
    }
    
</style>
